@charset "UTF-8";

:root{
    --cor1:#17161C;
    --cor2:#23222C;
    --cor3:#715A5A;
    --cor4:#D3DAD9;
}

body{
    margin: 0px;
    background-color: #C6D1E2;
}

p{
    font-family: 'Albert Sans';
}

main aside h1{
    font-family: 'Bebas neue';
}

header{
    background-image: url("../images/background/Timothy_site_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-color: rgb(30, 31, 34);
    height:320px;
    width:100%;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.199);
}

div#contain_logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

div#contain_logo picture img{
    width:25%;
}

header aside{
    padding:15px;
}

header aside h1{
    color:white;
    font-family:'Pathway Extreme';
}

header aside p{
    color:white;
    width:500px;
}

main{
    margin: 0;
}

main aside#info_tim{
    width:100%;
    background-color: #2f303d;
    background-image: linear-gradient(120deg, var(--cor1), var(--cor2));
}

main aside#info_tim div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

main aside#info_tim div div{
    display:flex;
    flex-direction: column;
    padding: 10px;
}

main aside#info_tim h1{
    margin:0;
    color:white;
    text-align: center;
    padding:10px;
    padding-top: 20px;
}

main aside#info_tim p{
    color:white;
    line-height: 30px;
    text-indent:15px;
}

main aside#info_tim div div ul{
    list-style: none;
    text-align: start;
}
